<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_Ok65vEzYl7wQ0utQ6eYXZrQEuun6BiM</string>
	<key>GCM_SENDER_ID</key>
	<string>258400899032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uzayprojesi</string>
	<key>PROJECT_ID</key>
	<string>uzay-1c8ee</string>
	<key>STORAGE_BUCKET</key>
	<string>uzay-1c8ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258400899032:ios:60ae2e66b7da35d07b2cad</string>
</dict>
</plist>